body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body::after {
  content: "";
  background: url(FND2.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: 85% 85%;
}
    .topnav {
      overflow: hidden;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .active {
      background-color: #04AA6D;
      color: black;
    }
    
    .topnav .icon {
      display: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      color: black;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
      color: black;
      background-color: silver;
    }

    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
  
      
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    float: left;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    float: right;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    float: right;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
    }
    
  .h1{
    height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  form {
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }

  p{
    text-align: center;
  }
  
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }

  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    text-align: center;
  }
  
  .form-control {
    display: block;
    width: 50%;
    height: 2.375rem;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  
  .input-textarea {
    display: block;
    width: 50%;
    height: 2.375rem;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .submit-button {
    display: block;
    width: 50%;
    padding: 0.75rem;
    color: #495057;
    border-radius: 50%;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
